/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #00110C;
    height: 200vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: unset;
    text-decoration: unset;
}
header{
    display: flex;
    align-items: center;
    height: 34px;
    background-color: #04120c;
    color: #B8E1EE;
    justify-content: space-between;
}

.button-in-header{
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    height: 34px;
    box-sizing: border-box;
}

.long-text{
    display: none;
}

@media (min-width : 880px) {
    .long-text{
        display: inline;
    }
    .short-text{
        display: none;
    }
}

.button-in-header:hover{
    background-color: #127374;
}

#right-buttons{
    display: flex;
    align-items: center;
}

#active-menu{
    background-color: #013A3B;
}

#main-image{
    min-width: 1000px;
}

#image-wrapper{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#document-title{
   color: #BBE1EE;
   font-size: 170%;
   font-weight: 300;
   letter-spacing: 10px;
   margin-bottom: 40px;
}

.mountain-content-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 32px;
    text-align: center;
    background-color: #BBE1EE;
    color: #04120C;
}

#mountain-tag-wrapper{
    gap: 50px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

@media (min-width : 880px){
    #mountain-tag-wrapper{
        flex-direction: row;
    }
}

#main-content-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mountain-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}